
body{
    margin: 0;
}
.box{
    height: 100%; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
